<div class="profile-container">
  <div class="profile-header">
    <h1><p class="welcome-message">¡Bienvenido, {{ usuario?.username }}!</p></h1>
    <!-- Mensaje de bienvenida -->
    
  </div>

  <div class="profile-content">
    <div class="profile-img">
      <img src="./img/perfil.webp" alt="Avatar" class="avatar">
      <button class="change-avatar">Cambiar Avatar</button>
    </div>

    <div class="profile-info">
      <div class="profile-info-item">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" placeholder="Juan Pérez" [value]="usuario?.username" readonly>
      </div>

      <div class="profile-info-item">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" placeholder="juan.perez@email.com" [value]="usuario?.correoElectronico" readonly>
      </div>

      <div class="profile-info-item">
        <label for="address">Dirección:</label>
        <textarea id="address" placeholder="123 Calle Ejemplo, Ciudad, País" [value]="usuario?.direccion" readonly></textarea>
      </div>

      <div class="profile-info-item">
        <label for="phone">Teléfono:</label>
        <input type="tel" id="phone" placeholder="123-456-7890" [value]="usuario?.telefono" readonly>
      </div>

      
    </div>
  </div>
</div>
