<div class="register-container">
  <div class="register-box">
    <h2>Crear una cuenta</h2>

    <form class="form-group" [formGroup]="personaForm" (ngSubmit)="registrarPersona()">

      <!-- Selección de categoría de usuario -->
      <div class="input-group">
        <label for="categoria">Categoría</label>
        <select id="categoria" placeholder="Ingrese su categoría" formControlName="rol" required (change)="onCategoryChange()">
          <option value="ARTISTA">Artista</option>
          <option value="PERSONA">Amante del Arte</option>
          <option value="ESPECIALISTA">Especialista</option>
        </select>
      </div>

      <!-- Campos comunes para todos los usuarios -->
      <div class="input-group">
        <label for="dni">DNI</label>
        <input type="text" id="dni" formControlName="dni" placeholder="Ingresa tu DNI" required>
      </div>

      <div class="input-group">
        <label for="nombre_completo">Nombre Completo</label>
        <input type="text" id="nombre_completo" formControlName="nombre_completo" placeholder="Ingresa tu nombre completo" required>
      </div>

      <div class="input-group">
        <label for="apellido_paterno">Apellido Paterno</label>
        <input type="text" id="apellido_paterno" formControlName="apellido_paterno" placeholder="Ingresa tu apellido paterno" required>
      </div>

      <div class="input-group">
        <label for="apellido_materno">Apellido Materno</label>
        <input type="text" id="apellido_materno" formControlName="apellido_materno" placeholder="Ingresa tu apellido materno" required>
      </div>

      <div class="input-group">
        <label for="direccion_residencia">Dirección de Residencia</label>
        <input type="text" id="direccion_residencia" formControlName="direccion_residencia" placeholder="Ingresa tu dirección de residencia" required>
      </div>

      <div class="input-group">
        <label for="sexo">Sexo</label>
        <select id="sexo" formControlName="sexo" required>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
          <option value="O">Otro</option>
        </select>
      </div>

      <div class="input-group">
        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" formControlName="telefono" placeholder="Ingresa tu teléfono" required>
      </div>

      <div class="input-group">
        <label for="correo_electronico">Correo Electrónico</label>
        <input type="email" id="correo_electronico" formControlName="correo_electronico" placeholder="Ingresa tu correo electrónico" required>
      </div>

      <div class="input-group">
        <label for="contrasena">Contraseña</label>
        <input type="password" id="contrasena" formControlName="contrasena" placeholder="Crea una contraseña" required>
      </div>

      <div class="input-group">
        <label for="username">Nombre de Usuario</label>
        <input type="text" id="username" formControlName="username" placeholder="Ingresa tu nombre de usuario" required>
      </div>

      <!-- Campos adicionales para Especialista -->
       <div *ngIf="isEspecialista">
        <div class="input-group">
          <label for="tecnicaId">Técnica (solo para Especialistas)</label>
          <select id="tecnicaId" formControlName="tecnicaId" required>
            <option *ngFor="let tecnica of tecnicaArray" [value]="tecnica.idTecnica">
              {{ tecnica.nombreTecnica }}
            </option>
          </select>
        </div>
      </div>


      <button type="submit" class="register-btn">
        Crear una cuenta
      </button>
    </form>

    <div class="links">
      <p>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></p>
    </div>
  </div>
</div>
