<div class="container">
  <h3>Evaluación de la Técnica</h3>
  <form [formGroup]="evaluacionForm" (ngSubmit)="onSubmit()">
    <table>
      <thead>
        <tr>
          <th>Criterios de Evaluación</th>
          <th colspan="5">Evaluación</th> <!-- Usamos un colspan para abarcar las opciones de radio -->
        </tr>
        <tr>
          <th></th>
          <th>Totalmente en desacuerdo</th>
          <th>No estoy de acuerdo</th>
          <th>Normal</th>
          <th>De acuerdo</th>
          <th>Totalmente de acuerdo</th>
        </tr>
      </thead>
      <tbody *ngIf="criterios.length > 0">
        <tr *ngFor="let criterio of criterios">
          <td>{{ criterio.nombreCriterio }}</td>
          <td>
            <input type="radio" [formControlName]="criterio.idCriterioEvaluacionArtistica.toString()" value="totalmente_en_desacuerdo" />
          </td>
          <td>
            <input type="radio" [formControlName]="criterio.idCriterioEvaluacionArtistica.toString()" value="no_estoy_de_acuerdo" />
          </td>
          <td>
            <input type="radio" [formControlName]="criterio.idCriterioEvaluacionArtistica.toString()" value="normal" />
          </td>
          <td>
            <input type="radio" [formControlName]="criterio.idCriterioEvaluacionArtistica.toString()" value="de_acuerdo" />
          </td>
          <td>
            <input type="radio" [formControlName]="criterio.idCriterioEvaluacionArtistica.toString()" value="totalmente_de_acuerdo" />
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" [disabled]="evaluacionForm.invalid">Enviar</button>
  </form>
</div>
