<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DeTodoArte</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#footer" (click)="scrollToFooter()">Conocenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vender En DeTodoArte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Campañas Festivas!</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        

            <li class="nav-item">
                 <a class="nav-link" href="/trabaja-con-nosotros">Trabaja con nosotros!</a>
            </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Técnicas De Arte
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Pintura</a></li>
            <li><a class="dropdown-item" href="#">Escultura</a></li>
            <li><a class="dropdown-item" href="#">Fotografía</a></li>
            <li><a class="dropdown-item" href="#">Cerámica</a></li>
            <li><a class="dropdown-item" href="#">Dibujo</a></li>
            <li><a class="dropdown-item" href="#">Grabado</a></li>
            <li><a class="dropdown-item" href="#">Arquitectura</a></li>
            <li><a class="dropdown-item" href="#">Diseño Gráfico</a></li>
            <li><a class="dropdown-item" href="#">Escenografía</a></li>
            <li><a class="dropdown-item" href="#">Escultura en Madera</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/auth">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/obradearte">crear obra de arte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registrar-persona">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mis compras</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

