<div class="solicitud-container">
  <h2>Estado de Solicitud de Exposición Virtual</h2>

  <table class="estado-solicitud-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Fecha Publicacion</th>
        <th>Estado Solicitud</th>
        <th>Comentarios</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudesVirtuales">
        <td>{{ solicitud.idExposicionVirtual }}</td>
        <td>{{ solicitud.fechaPublicacion | date}}</td>
        <td>{{ solicitud.estadoPublicacion}}</td>
        <td>{{ solicitud.comentarios }}</td>
        <td>
          <button (click)="verDetalles(solicitud)">Ver Detalles</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
